.Bodys{
  text-align: center;
}

.Tab{
  vertical-align: top;
  text-align: center;
  width: 100%;
  color: white;
  text-decoration-color: white;
  border
}

.TitleHeader{
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 10%;
}

.td2, .th2{
  background-color: #9e9efa;
  font-size: 35px;
  height: 50px;
  width: 300px;
  color: #fff;
  text-align: center;
  margin: auto;
}

.tr2{
  background-color: #9e9efa;
}

.center{
  margin: auto;
}

.MenuLinks{
  position: static;
  background-color: #9e9efa;
  padding: .5em;
  border-radius: 0px;
  color: #fff;
  font-size: 25px;
  border: 5px;
  height: 50px;
  width: 250px;
}

h1{
  font-size: 40px;
}

h2{
font-size: 30px;
}

p{
font-size: 25px;
}

li{
font-size: 25px;
}

body{
  background: #babade;
}
.package{
  background-color: #9e9efa;
  padding: .5em;
  border-radius: 0px;
  color: #fff;
  font-size: 25px;
  border: 5px;
  height: 50px;
  width: 300px;
}

a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.invisble{
  color: #babade;
}
